<!-- <pre>Data Obtained is: {{ this.employeeData | json }}</pre> -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">Oasis Digital</a>
</nav>
<div class="container mt-4">
  <h2>Employee Data</h2>
  <table class="table table-dark table-hover table-striped">
    <thead class="thead-light">
      <tr>
        <th>Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of this.employeeData">
        <td>{{e.first_name}} {{e.last_name}}</td>
        <td>{{e.email}}</td>
      </tr>
    </tbody>
  </table>
</div>
